<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/resources/style.css}">
    <title>products</title>
</head>
<body>
    <div class="page">
        <nav th:replace="fragments/navbar.html :: navbar"/>
        <div class="content">
            <h1>Products list</h1>
                <div>
                    <form method="get" th:action="@{/products}">
                        <label for="minPrice">Min price</label><input type="number" id="minPrice" name="minPrice" th:value="${minPrice}">
                        <label for="maxPrice">Max price</label><input type="number" id="maxPrice" name="maxPrice" th:value="${maxPrice}">
                        <button type="submit">Apply</button>
                    </form>

                    <form th:action="@{/products}"  method="get">
                        <button type="submit">Reset filter</button>
                    </form>
                </div>


            <a th:href="@{/products/form}">Create pruduct</a>
            <table>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>cost</th>
                    <th>edit</th>

                </tr>

                <tr th:if="${productsPage.hasContent()}" th:each="products : ${productsPage.content}">
                    <td th:text="${products.id}"> id </td>
                    <td th:text="${products.title}">title</td>
                    <td th:text="${products.cost}">cost</td>
                    <td>
                        <a th:href="@{products/form(id=${products.id})}">Edit</a>
                    </td>
                </tr>

                <tr th:unless="${productsPage.hasContent()}">
                    <td colspan="4">No data</td>
                </tr>
            </table>


            <div th:if="${productsPage.hasContent()}" class="pagination">
                <a th:href="@{/products(page=${1}, size=${productsPage.size}, minPrice=${minPrice}, maxPrice=${maxPrice})}">&laquo;</a>

                <a th:each="num: ${#numbers.sequence(1, productsPage.totalPages)}"
                   th:classappend="${num == productsPage.number + 1} ? 'active'"
                   th:href="@{/products(page=${num}, size=${productsPage.size}, minPrice=${minPrice}, maxPrice=${maxPrice})}">[[${num}]]</a>

                <a th:href="@{/products(page=${productsPage.totalPages}, size=${productsPage.size}, minPrice=${minPrice}, maxPrice=${maxPrice})}">&raquo;</a>
            </div>
        </div>
        <footer th:replace="fragments/footer.html :: footer"/>
    </div>
</body>
</html>